---
import type { DateRange } from '@/types/shared';
import type { I18nConfig } from '@/types/config/i18n-config.types';
import formatDateRange from '@/utils/format-date-range';

export interface Props {
  class?: string;
  dates: DateRange;
  i18n: I18nConfig;
}

const { dates, i18n, ...props } = Astro.props;
---

<div
  class:list={[
    'flex h-6 w-fit items-center whitespace-nowrap rounded-full bg-gray-100 px-2.5 text-xs font-semibold text-gray-700',
    props.class,
  ]}
>
  {formatDateRange(dates, i18n)}
</div>
