<div class="flex items-center gap-3 pb-3 pt-3">
  <div class="h-6 w-1.5 rounded-full bg-primary-600" />
  <div class="whitespace-nowrap text-2xl font-extrabold text-gray-900"><slot /></div>
  <hr class="w-full border-gray-200" />
</div>
